HOST=
HOSTNAME=
GF_SUBPATH=
PROMETHEUS_SUBPATH=
LOKI_SUBPATH=

# Traefik configs
TRAEFIK_ROOT_HOST=

TRAEFIK_GRAFANA_HOST=
TRAEFIK_GRAFANA_PORT=

TRAEFIK_PROMETHEUS_HOST=
TRAEFIK_PROMETHEUS_PORT=

TRAEFIK_LOKI_HOST=
TRAEFIK_LOKI_PORT=

PROMETHEUS_AUTH=
LOKI_AUTH=
IP_ALLOW_LIST=
IP_ALLOW_LIST_GRAFANA=

LOKI_VOLUME=
